@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}
html {
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
button.slick-next {
   background-color: #fff;
   opacity: 0.5;
   width: 80px;
   height: 80px;
   z-index: 10;
   margin-right: 35px;
}
button.slick-next:hover {
   background-color: #fff;
   opacity: 1;
}
button.slick-next:hover::before {
   color: #ee3131;
}
button.slick-next::before {
   color: #8a8a8a;
   content: '\276F';
   font-size: 30px;
}
button.slick-prev {
   background-color: #fff;
   opacity: 0.5;
   margin-left: 35px;
   width: 80px;
   height: 80px;
   z-index: 10;
}
button.slick-prev:hover {
   background-color: #fff;
   opacity: 1;
}
button.slick-prev:hover::before {
   color: #ee3131;
}
button.slick-prev::before {
   color: #8a8a8a;
   content: '\276E';
   font-size: 30px;
}
.form-select {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
   background-size: 0.7rem;
   background-position: right 0.7rem center;
}
